<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/323px-Check_green_icon.svg.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="login" name="loginMain"/>
          <input type="password" placeholder="password" name="passwordMain"/>
          <button type="submit">login</button>
          <p class="message">Not registered? <a href="/signup">Create an account</a></p>
        </form>
        <div class="status"></div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
   <script src="./js/main.js"></script>
  </body>
</html>